# Base de données TimescaleDB
DB_PASSWORD=

# Sécurité API (générer avec: openssl rand -hex 32)
JWT_SECRET=

# Interface Grafana
GRAFANA_PASSWORD=

# API météo OpenWeatherMap
WEATHER_API_KEY=

# URL du backend (pour le frontend)
API_URL=http://localhost:8000
